.profile-block {
  .profile-user-wid {
    margin-top: -70px;
  }
  .profile-user-wid {
    height: 130px;
    width: 130px;
  }
  .profile-user-name {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #556ee6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    color: white;
  }
}
