body[dir="rtl"] {
  .ck.ck-toolbar > .ck-toolbar__items {
    flex-direction: row-reverse !important;
  }

  .ck.ck-editor__editable_inline {
    text-align: right !important;
  }

  .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_ne,
  .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_se {
    right: 0;
    left: auto !important;
  }

  .ng-select .ng-arrow-wrapper {
    padding-right: 0;
    padding-left: 5px;
  }

  .ng-select .ng-clear-wrapper {
    margin-right: 0;
    margin-left: 5px;
  }
}
