body[dir="rtl"] {
  .navbar-nav .dropdown-menu {
    text-align: right;
  }

  @include media-breakpoint-up(lg) {
    .topnav .dropdown .dropdown-menu {
      right: 0;
      left: auto;

      .dropdown .dropdown-menu {
        right: 100% !important;
        left: auto !important;
      }
    }
  }

  .topnav-menu .navbar-nav {
    padding-right: 0;
  }
}
