<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Reset Password</h5>
                  <p>Reset Password with PlatX</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <div class="p-2">
              <div class="alert alert-success text-center mb-4" role="alert">
                Enter your User Name and instructions will be sent to you!
              </div>
              <form class="needs-validation" name="forgetPasswordForm" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
                @if(error){
                <alert type="danger" [dismissible]="false">{{ error }}</alert>
                }
                <div class="mb-3">
                  <label for="userName">User Name</label>

                  <input type="userName" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && forgetPasswordForm.controls.userName.errors }" id="userName" placeholder="Enter email" />
                  @if(submitted && forgetPasswordForm.controls.userName.errors){
                  <div class="invalid-feedback">
                    @if(forgetPasswordForm.controls.userName.errors.required){
                    <div>User Name is required</div>}
                    @if(forgetPasswordForm.controls.userName.errors.userName){
                    <div>User Name must be a valid Name</div>}
                  </div>}
                </div>
                <div class="text-end">
                  <button class="btn btn-primary w-md" type="submit">Reset</button>
                </div>
              </form>
              <!-- <form class="needs-validation" name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
                @if(error){
                <alert type="danger" [dismissible]="false">{{ error }}</alert>
                }
                <div class="mb-3">
                  <label for="email">Email</label>

                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.controls.email.errors }" id="email" placeholder="Enter email" />
                  @if(submitted && resetPasswordForm.controls.email.errors){
                  <div class="invalid-feedback">
                    @if(resetPasswordForm.controls.email.errors.required){
                    <div>Email is required</div>}
                    @if(resetPasswordForm.controls.email.errors.email){
                    <div>Email must be a valid email address</div>}
                  </div>}
                </div>
                <div class="text-end">
                  <button class="btn btn-primary w-md" type="submit">Reset</button>
                </div>
              </form> -->
            </div>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>Remember It ? <a routerLink="/auth/login" class="fw-medium text-primary"> Sign In here</a> </p>
          <p>© {{year}} PlatX Crafted with <i class="mdi mdi-heart text-danger"></i>  </p>
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
